.home {
    background-color: rgb(159, 177, 196);
    color: white;
    padding: 50px;
}

.header{
    background-color: aqua;
    padding: 50px;

}


.content{
    background-color: greenyellow;
    padding: 50px;


}

.navComp {
    background-color: rgb(168, 168, 129);
    padding: 50px;


}

.footer {
    background-color:  rgb(20, 83, 138) ;
    padding: 50px;

}

